body {
  margin: 0 10px;
  font-family: Helvetica;
  background-color: #fdfdfd;
  color: purple;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
